.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.buttons {
  margin-top: 10px;
}

button {
  margin: 10px;
  font-size: large;
}